@model IEnumerable<GameStore.Domain.Entities.Category>

@{
    ViewBag.Title = "Админ панель: список категорий";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список категорий</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    Действие
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.ActionLink(item.Name, "Edit", new { item.CategoryId })
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Удалить", "Delete", new { item.CategoryId })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить категорию", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>